*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Assistant', sans-serif;
    line-height: 1.75;
    text-align: right;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem auto -1rem -1rem;
}

li {
    color: #666;
}

h2 {
    color: #16191c;
    font-weight: 600;
    font-size: 2.25em;
}

.card{
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.1);
}

.card-title {
    margin: 0;
    font-size: 1em;
    padding: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1em;
}

p {
	font-weight: 300;
	color: #424242;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: 600;
}

i {
    overflow: hidden;
    vertical-align: middle;
    color: #4b41ff;
    padding-bottom: 15px;
    font-size: 2.5rem;
}

.bold {
    font-weight: 500;
    color: #57606f;
}

.btn-primary {
    color: #fff;
    background-color: #4b41ff;
    border-color: rgba(0, 0, 0, 0);
    background-size: 100%;
    transition: all ease-in 0.2s;
    font-weight: 500;
}

.btn-primary:hover {
    transition: all ease-in 0.2s;
    background-color: #4c4981;
    border-color: #4c4981;
}

.pb-5,
.py-5 {
    padding-bottom: 4.5rem !important;
}

.pt-5,
.py-5 {
    padding-top: 4.5rem !important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 0;
}

.jumbotron p {
    font-size: 1.15em;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.h1,
h1 {
    font-size: 3.09rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #16191c;
}

.shadow-sm {
    box-shadow: 0px 0px 35px rgba(97, 113, 134, 0.1) !important;
}

.h5,
h5 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #2f3542;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0;
}

.bg-light {
    background-color: #f6f4ff !important;
}

.h6,
h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #111;
}

.btn-link {
    font-weight: 400;
    color: #0062cb;
    background-color: transparent;
}

.footer-link {
    color: #666;
    font-weight: 400;
    padding: 0;
}

.footer-link:hover {
    color: #3091f2;
    text-decoration: none;
}